<form>
    <div class="input-group mb-2">
        <input type="text" [(ngModel)]="registerData.email" name="email" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-2">
        <input type="text" [(ngModel)]="registerData.name" name="name" class="form-control" placeholder="Name" aria-label="Name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-2">
        <input type="text" [(ngModel)]="registerData.description" name="description" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="basic-addon1">
    </div>
    <input type="password" [(ngModel)]="registerData.password" name="password" class="form-control" placeholder="password" aria-label="password" aria-describedby="basic-addon1">
    <button class="btn btn-primary" (click)="post()" type="submit">Register</button>
</form>
