<mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-form-field>
        <input matInput type="email" [(ngModel)]="registerData.email" name="email" placeholder="Email">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="registerData.name" name="name" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
        <input matInput [(ngModel)]="registerData.description" name="description" placeholder="Description">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" [(ngModel)]="registerData.password" name="password" placeholder="Password">
    </mat-form-field><br>
    <button mat-flat-button (click)="post()" type="submit">Register</button>
</mat-card>